<div *ngIf="entityType">
  <h1>{{ entityType.plural | titleCase }}</h1>

  <div class="table-reponsive">
    <table data-toggle="table" data-pagination="true" data-search="true" data-height="300" class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let propertyType of entityType.propertyTypes" id="{{propertyType.name}}Header">
            {{ propertyType.name | titleCase }}
          </th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let entity of entities">
          <td *ngFor="let property of entity.mountProperties()">
            {{ property.value }}
          </td>
          <td>
            <a href="#" (click)="show(entity.key)" class="btn btn-default btn-xs">Show</a>
            <a href="#" (click)="edit(entity.key)" class="btn btn-default btn-xs">Edit</a>
            <a href="#" (click)="destroy(entity.key)" class="btn btn-default btn-xs btn-danger">Destroy</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <a [routerLink]="['new']" class="btn btn-primary">New {{ entityType.singular | titleCase }}</a>
</div>
